@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  border: none;
}

input[type="text"]:focus {
  border-color: none !important; /* Change the border color on focus */
  outline: none !important; /* Remove the default outline */
  box-shadow: none !important; /* Add a custom focus ring */
  background-color: #f0f4f8 !important; /* Change background color on focus */
  color: none !important; /* Change text color on focus */
}
